<app-topbar [ngClass]="(isSidebarOpen$ | async) ? 'content--moved' : ''"></app-topbar>
<app-sidebar [ngClass]="(isSidebarOpen$ | async) ? 'sidebar--moved' : ''"></app-sidebar>
<div class="content"
     [ngClass]="(isSidebarOpen$ | async) ? 'content--moved' : ''"
     [attr.data-fullsize]="isLayoutFullsize"
     (click)="hideSidebar()"
>
  <div class="editor-header">markdown</div>
  <div class="output-header">output</div>
  <app-layout-button class="layout-toggle" (click)="toggleContentLayout()"></app-layout-button>
  <div class="content__sections">
    <app-editor class="editor"></app-editor>
    <app-output class="output" [isFullsize]="isLayoutFullsize"></app-output>
  </div>
</div>
