@use './typography';

@mixin button-colors {
  background-color: var(--con-button);
  fill: var(--con-button);

  @media (hover: hover) {
    &:hover {
      background-color: var(--con-button-hover);
      fill: var(--con-button-hover);
    }
  }
}

@mixin button-secondary-colors {
  background-color: hsl(var(--clr-700));
  fill: var(--con-section-label-icon);

  @media (hover: hover) {
    &:hover {
      background-color: var(--con-button);
      fill: var(--con-button);
    }
  }
}

@mixin button-text {
  @include typography.ff-sans-normal;
  @include typography.fs-400;
  @include typography.fw-regular;
  color: hsl( var(--clr-100) );
}

@mixin button {
  @include button-text;
  @include button-colors;

  border: 0;
  border-radius: 0.25rem;
}

@mixin button-secondary {
  @include button-text;
  @include button-secondary-colors;
}

@mixin svg-button {
  padding: 0;
  border: 0;
  background: transparent;

  & svg > path {
    fill: var(--con-section-label-icon);
  }

  @media (hover: hover) {
    &:hover > svg > path {
      fill: var(--con-button);
    }
  }
}

@mixin dialog {
  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;
  padding: 1.5rem;
  border-radius: 0.25rem;
  border: 0;
  background-color: var(--con-dialog-background);

  &::backdrop {
    background-color: var(--con-dialog-overlay);
  }
}

@mixin scrollbar {
  scrollbar-gutter: stable both-edges;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: hsl( var(--clr-orange) );
    border-radius: 0.25rem;
  }
}

@mixin theme-change-transition {
  transition-property: background-color, transform;
  transition-duration: var(--theme-toggle-duration);
  transition-timing-function:
    cubic-bezier(.45,1.3,1,.63),
    cubic-bezier(0.6,0.2,0.4,1.7);
}

@mixin translate-x-transition {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in;
}
